{%extends "layout.html"%}
{%block content%}

<div class="content-section-about">
  <h1><center>About Us</h1></center>
  <p>
    Various types of crimes that take place against women such as eve-teasing, harassment, domestic violence, etc. are a cause of major concern for the society and it is crucial that immediate and effective help be provided to victims of such crimes.
  </p>
  <p>
    ‘Sashakt’ is an initiative towards the cause of women safety and security that will provide support to victims be it mental or physical and also help spread awareness about such issues to help empower women. 
  </p>
  Let's see how much you know about crimes against women and ways to be safe with this short quiz!
  <p> 
   <div>
  <h1><center>Quiz on Some Facts</h1></center>
  <div class="quiz-container">
    <div id="quiz"></div>
  </div>
  <center>
    <button id="previous">Previous Question</button>
    <button id="next">Next Question</button>
    <button id="submit">Submit Quiz</button>
 </center>
  <div id="results"></div>
</div> 
  </p>
</div>

{%endblock%}