{%extends "layout.html"%}
{%block content%}

<div class="home">
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">
            <h1>Sashakt</h1>
            <p>You Never Walk Alone!</p>
            <button class="btn btn-outline-secondary btn-lg"><a href="{{url_for('blogs')}}">Read Blogs!</button></a>
            <button class="btn btn-outline-secondary btn-lg"><a href="{{url_for('send_sms')}}">Send SMS</button></a>
            <button class="btn btn-outline-secondary btn-lg"><a href="{{url_for('tweet_analysis')}}">Analyse
                    Tweets!</button></a>
            <a href="#about" class="scroll"><span class="da-img"> </span> </a>


        </div>
    </header>
    <center><br><br><br><br>
        <u><h1 style = "color: rgb(80, 6, 99);
        font-size: 4rem;
        font-family: 'Times New Roman', serif;">Meet the team</h1></u>
    </center>
    <div class="row">
        <div class="column">
            <div class="card">
                <div id="about">
                    <div class="card-image"><img src = "https://photos1.fotosearch.com/bthumb/CSP/CSP945/k9455689.jpg"></div>
                    <div class="card-text">
                        <span class="date">More About</span>
                        <h2>Sashakt</h2>
                        <p><strong>This project is a website that allows users to gain knowledge about the various women
                                safety laws
                                and defensive methodologies. It also aims at sending real-time emergency messages to our
                                chosen
                                contacts with the press of just one button.</strong></p>
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <a href="{{url_for('about')}}">About</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div id="about">
                    <div class="card-image"></div>
                    <div class="card-text">
                        <span class="date">More About</span>
                        <h2>Sashakt</h2>
                        <p>This project is a website that allows users to gain knowledge about the various women safety
                            laws
                            and defensive methodologies. It also aims at sending real-time emergency messages to our
                            chosen
                            contacts with the press of just one button. </p>
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <a href="{{url_for('about')}}">About</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div id="about">
                    <div class="card-image"></div>
                    <div class="card-text">
                        <span class="date">More About</span>
                        <h2>Sashakt</h2>
                        <p>This project is a website that allows users to gain knowledge about the various women safety
                            laws
                            and defensive methodologies. It also aims at sending real-time emergency messages to our
                            chosen
                            contacts with the press of just one button. </p>
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <a href="{{url_for('about')}}">About</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12" style="color: white;">
                    <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                    <p>Sashakt is a static website (still under development) and is made as a project for now. We plan
                        to make it functional and deploy it soon.</p>
                    <p>This website is being maintatined by Kashika, Samya and Bhumika and is presently open-source.
                        Click <a href="https://github.com/kashika0112/Sashakt-IT-Project">here</a> to see the github
                        repository.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12" style="color: white;">
                    <h6 class="text-uppercase font-weight-bold">Creators</h6>
                    <p>Kashika Akhouri<br>
                        B.Tech CSAI'24<br></p>
                    <p>Samya Jain<br>
                        B.Tech CSAI'24<br>
                    </p>
                    <p>Bhumika Joshi<br>
                        B.Tech CSAI'24
                    </p>

                </div>
                <div>

    </footer>


    {%endblock%}