{%extends "layout.html"%}
{%block content%}
<div class="homebg">
<div class="home">
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">
            <h1>Sashakt</h1>
            <p>You Never Walk Alone!</p>
            <button class="btn btn-outline-secondary btn-lg"><a href="{{url_for('blogs')}}">Read Blogs!</button></a>
            <button class="btn btn-outline-secondary btn-lg"><a href="{{url_for('send_sms')}}">Send SMS</button></a>
            <button class="btn btn-outline-secondary btn-lg"><a href="{{url_for('tweet_analysis')}}">Analyse
                    Tweets!</button></a>
            <a href="#mt" class="scroll"><span class="da-img"> </span> </a>


        </div>
    </header>
    
    <center><br><br><br><br>
        <a name = mt></a>
        <u><h1 style = "color: #193be1;
        font-size: 3rem;
        font-family: 'Times New Roman', serif;">Meet the team</h1></u>
        <a name = mt></a>
    </center>
    
    <div class="row">
        <div class="column">
            <div class="card">
                <div id="about">
                    <div class="card-image"><img src = "../static/images/Kashika.jpeg" width="225" height="225"></div>
                    <div class="card-text">
                        <!-- <span class="date">More About</span> -->
                        <h2>Kashika Akhouri</h2>
                        <p><strong>Back-end Developer</strong></p>
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <a href="https://www.linkedin.com/in/kashika-akhouri-050b4a202/" style= "color: white;"><img src ="../static/images/linkedin.jpg" width="100" height="25"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div id="about">
                    <div class="card-image"><img src = "../static/images/Bhumika.jpeg" width="225" height="225"></div>
                    <div class="card-text">
                        <!-- <span class="date">More About</span> -->
                        <h2>Bhumika Joshi</h2>
                        <p>Front-end Developer</p>
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <a href="https://www.linkedin.com/in/joshi-bhumika/" style= "color: white;"><img src ="../static/images/linkedin.jpg" width="100" height="25"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div id="about">
                    <div class="card-image"><img src = "../static/images/Samya.jpeg" width="225" height="225"></div>
                    <div class="card-text">
                        <!-- <span class="date">More About</span> -->
                        <h2>Samya Jain</h2>
                        <p>Front-end Developer</p>
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <a href="https://www.linkedin.com/in/samya-jain-a68443204/" style= "color: white;"><img src ="../static/images/linkedin.jpg" width="100" height="25"></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12" style="color: white;">
                    <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                    <p>Sashakt is a static website (still under development) and is made as a project for now. We plan
                        to make it functional and deploy it soon.</p>
                    <p>This website is being maintatined by Kashika, Samya and Bhumika and is presently open-source.
                        Click <a href="https://github.com/kashika0112/Sashakt-IT-Project">here</a> to see the github
                        repository.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12" style="color: white;">
                    <h6 class="text-uppercase font-weight-bold">Creators</h6>
                    <p>Kashika Akhouri<br>
                        B.Tech CSAI'24<br></p>
                    <p>Samya Jain<br>
                        B.Tech CSAI'24<br>
                    </p>
                    <p>Bhumika Joshi<br>
                        B.Tech CSAI'24
                    </p>

                </div>
                <div>

    </footer>


    {%endblock%}