{% extends "layout.html" %}
{% block content %}

<div class="selfDefence">
    <center> 
          <h1 style = "padding : 30px" style = "font-family: 'Times New Roman', serif;">Self Defense today for a Better Tomorrow</h1><br>
    </center>

    <div class="hero-container">
		<div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=9o-nplopP1E"><img src="https://th.bing.com/th/id/R.82a5a3693ca9be1379f1c4e913f1799b?rik=y0yH6jb1ubzoWw&riu=http%3a%2f%2fapexembdesigns.com%2fsites%2fdefault%2ffiles%2fcuttable%2f6147%2fkarate2.jpg&ehk=92G%2fuBPsSifMjQ%2fYiDDiCyQ1GKXKRSJhZIDk4ITucNI%3d&risl=&pid=ImgRaw&r=0" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">Women's Self Defense Techniques </h4>
					<p class="ticket-slogan">
						Grabbed By The Ponytail
					</p>
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=9o-nplopP1E">Link</a></button>
				</div>
			</div>
		</div>

		<div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=c2HgxmdTf2w"><img src="https://th.bing.com/th/id/R.65b4386ddd374eefa3126354f8d0a73c?rik=SdT8fmD6IbLY7A&riu=http%3a%2f%2fgetdrawings.com%2fimg%2fkarate-girl-silhouette-15.jpg&ehk=uHHkmcFlILNSvakIWlxSpzmMU%2flXyAwvxzL%2bFbJa7sU%3d&risl=&pid=ImgRaw&r=0" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">Women's Self Defense Techniques</h4>
					<p class="ticket-slogan"> Choke Hold From Behind</p>
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=c2HgxmdTf2w">Link</button></a>
				</div>
			</div>
		</div>

        <div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=-1XcNwIzWMI"><img src="https://th.bing.com/th/id/R.c3eeafb3e29095ccafd3d13e0df41918?rik=47tiptHimn3TPg&riu=http%3a%2f%2fst3.depositphotos.com%2f1077687%2f12779%2fv%2f450%2fdepositphotos_127793392-stock-illustration-silhouette-woman-martial-arts-flying.jpg&ehk=7Uco4%2bq8pGZjmqUF7zgyCmgErNxK5IZk%2bCLn3QtXRLI%3d&risl=&pid=ImgRaw&r=0" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">5 Beginner Moves For Women's Self-defence.</h4>
			
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=-1XcNwIzWMI">Link</button></a>
				</div>
			</div>
		</div>

        <div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=U35qUZUOe_k"><img src="https://th.bing.com/th/id/R.86c328f230cb459fb0028d13e6085b04?rik=%2f1KF411%2bTSVZfw&riu=http%3a%2f%2fgetdrawings.com%2fimg%2ftaekwondo-girl-silhouette-3.jpg&ehk=jfu2Dn8dJG8%2bAeHg04VgocgS3mjULdLvfbSCXcSmuh8%3d&risl=&pid=ImgRaw&r=0" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">Women's Self Defense Techniques</h4>
					<p class="ticket-slogan"> Attacked From The Front</p>
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=U35qUZUOe_k">Link</button></a>
				</div>
			</div>
		</div>

        <div class="main-container">
			<div class="poster-container">
				<a href="https://www.youtube.com/watch?v=T-iwbqyg2dU"><img src="https://i.pinimg.com/originals/a5/8f/fc/a58ffcc7e90c2c713f902aa89d186b5f.png" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket-title">Karate - Some self defense techniques for women</h4>
				
					<button class="ticket-btn"><a href = "https://www.youtube.com/watch?v=T-iwbqyg2dU">Link</button></a>
				</div>
			</div>
		</div>

        
	</div>
    <center> 
        <h1 style = "padding : 30px"> </h1><br>
  </center>

</div>

    {% endblock content %}
