{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    <div class = "stories1">
        <div class = "card1" >
            <div class = "content" style ="box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
            transition: all 0.2s;">
                <tr>
                    <td><a class="mr-2" href="#">{{ post.author.username }}</a></td>
                    <td><small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small></td>
                    <td><h2><center><a class="article-title" href="">{{ post.title }}</a></center></h2></td>
                    <br>
                    <td><p class="article-content">{{ post.content }}</p></td>
                </tr>
            </div>
        </div>
    </div>
    
    {% endfor %}
{% endblock content %}
