{% extends "layout.html" %}
{% block content %}
<!-- <div class="analysis"> -->
<div class ="form-box">
    <div id="about_hashtag">
        <center>
            <H1>
                <strong><u>
                    Why Tweet Analysis?
                </strong></u>
            </H1>
            <hr width=50% opacity=0.5>
            <p>
                We live in a world of evergrowing technology and an overflowing pool of opinions surfing across the various social media platforms particularly Twitter.
                Therefore, it is the need of the hour for us to be more cautious and considerate of the things we write on the internet to ensure safety, inclusion and respect of all communities.
                Tweet Analysis gives us a rough idea about the trending hashtags. Try it yourself!
            </p>
        </center>
    </div>
<div class="content-hashtag">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Enter Hashtag</legend>
            <div class="form-group">
                {{ form.hashtag.label(class="form-control-label") }}
                {% if form.hashtag.errors %}
                    {{ form.hashtag(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.hashtag.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hashtag(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <small>
            <b>Disclaimer</b><br>
            <ul>
                <li>This tweet anaylsis has been done in real-time using twitter APIs on 500 tweets</li>
                <li>Since it's based on real-time tweets extraction, users are requested to enter hashtags that are presently trending or have been in the trends for the past 1 week</li>
                <li>The tweets have been taken from all over the world. To be more specific, enter hashtags more prominent in the country</li>
            </ul>
        </small>
    </form>
</div>
</div>
<!-- </div> -->
{% endblock content %}