@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

.navbar {
    background:	#3D304F;
}


.content-section {
    background-image: url('../images/background2.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    padding: -5px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 100% !important;
    width:100% ;
    color: #0d048d;
    letter-spacing: 1px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

.form-box {
    width: 400px;
    height: 560px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 7px;
    line-height: 1;
    border-radius: 18px;
}

.border-bottom {
    color: #0d048d;
    letter-spacing: 1px;
    font-family: 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
}

.btn-outline-info{
    width: 85%;
    cursor:pointer;
    border-radius: 30px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    margin: 0px 30px;
    border: 0;
    outline: none;
    color: white;
    position:relative;
    font-size: 20px;

}

.box {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
  }

  .content-section-about{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
  }

.content-section-about h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: #38a;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.header {
  background-image: url("../images/home_header.jpg");
  background-size: cover;
  background-position: center;
  padding-right: 0%;
  padding-left: 0%;
  height: 100vh;
  width: 100;
}

.description h1 {
  font-size: 10rem;
  color: #0b0657;
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 10px;
  font-family: 'Times New Roman', serif;
}

.description p {
  color: rgb(80, 6, 99);
  font-size: 4rem;
  padding-left: 50px;
  padding-bottom: 10px;
  font-family: 'Times New Roman', serif;
}

.btn-outline-secondary{
  width: 15%;
  cursor:pointer;
  border-radius: 20px;
  background:linear-gradient(to right, #3D304F,#0b0657);;
  margin: 0px 30px;
  border: 1px solid #fff;
  font-family: 'Times New Roman', serif;
  outline: none;
  position:relative;
  font-size: 27px;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #45c6d1;
}

.navbar-collapse {
    justify-content: flex-end;
}

.blog a{font-family: inherit;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  user-select: none;
  font-size: 1.25rem;
  line-height: 1.5;
  box-sizing: border-box;
  color: #06eef1;
  text-decoration: none;
  background-color: transparent;
  }
  
  .blog .btn{
  margin: 0;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #1775b3;
  border: 1px solid #0000004d;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #6c757d;
  border-color: #13f7f9;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: .3rem;
  cursor: pointer;
  }
  
  .blog{
    margin:0;
    padding: 255px;
    font-family:'Times New Roman', serif;
    font-size:50px;
      background: #2980b9 url('http://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
   
  }


 .content{ 
    text-align: left;
    color: #0a3dad;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 8px;
    background-color: #3D304F;
    padding: 30px;
    border-width: 2px;
    border-color: #f4f4f4;}

  .article-title {
    font-size: 2rem;
    color: #F8B255;
    text-align: center;
    font-family: 'Times New Roman', serif;
}


.article-content  {
    font-size: 1.5rem;
    color: #FCEFE3;
    text-align: right;
    margin-top: -1rem;
    margin-right: 2rem;
    font-family: 'Times New Roman', serif;
    text-align: center;

}
 
.mr-2{
  font-size: 1rem;
  color: #F8B255;
  text-align: right;
  margin-top: -1rem;
  margin-right: 2rem;
  font-family: 'Times New Roman', serif;
}
.text-muted{
  font-size: 0.9rem;
  color: #F8B255 !important;
  text-align: right;
  margin-top: 0rem;
  margin-right: 1.rem;
  font-family: 'Times New Roman', serif;
}


   
  @-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
  
  @-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }

  .da-img{
    width: 50px;
    height: 50px;
    display: block;
    margin: 2em auto 1em;
    background: url(../images/buttonimg.png);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    transform: translateX(-320px);
  }
  .da-img:hover{
    width: 50px;
    height: 50px;
    display: block;
    background: url(../images/buttonimgh.png);
  }

  #about h1 {
    color: #3D304F;
    font-size: 4rem;
    padding-left: 50px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', serif;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin-right: 50px;
  margin-left: 310px;
margin-top: 100px;
margin-bottom: 100px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
    display: grid;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: #FCEFE3;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 2s ease;
    cursor: pointer;
    word-wrap: normal;
    
  }

  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }

 

  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: #3D304F;
    font-size:13px;
  }
  .card-text p {
    color: #EF6C50;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
    
  }


  .card-stats {
    grid-area: button; 
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background:#3D304F;
  }


  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #3D304F;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  margin: 0px 16px 0px 0px;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FCEFE3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #3D304F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:#3D304F}

.page-footer{
  padding: 20px;
  
  background: #e6819f;
}

